/* Estilos Gerais */
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vb;
}

header{
    padding: 10px 20px;
    background-color: #252440;
}

.btn{
    padding: 8px 25px;
    border-radius: 15px;
    background-color: #4432c6;
    color: #fff;
    border: none;
}

.btn:hover{
    scale: 1.04;
}

/* Estilo do cabeçalho */
header a{
    color: white;
    text-decoration: none;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 30px;
}

.text-topo-site{
    background-color: #727272;
    text-align: center;
    color: white;
}

/* Estilo dos portifolios */

.portifolios{
    background-color: #fff;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    box-shadow: 20px black;
    border-radius: 20px;
    border: 2px solid;
    padding: 10% 5%;
    margin: 2%;
    text-align: center;
}

.card:hover{
    scale: 1.05;
}



/* Estilo do rodaé */

.rodape{
    background-color: #727272;
    color: #fff;
    padding: 40px;
}
.contato{
    text-align: center;
}
