*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

body{
    height: 100vb;
}

header{
    display: flex;
    background-color: rgb(58, 58, 58);
    text-align: center;
    padding: 30px;
    justify-content: space-between;
}

header .navbar a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
}

/* topo do site */

.topo-site{
    background-color: rgb(168, 168, 168);
}

.texto-topo-site{
    text-align: center;
}


main .topo-site{
    display: flex;
    align-items: center;
    justify-content: center;
}

main section img{
    width: 200px;
    margin: 50px 4%;
    border-radius: 20px;
}
