/* Estilos Gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vb;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* Estilo Cabeçalho */

header{
    padding: 40px 4%;
    background-color: rgb(87, 87, 87);
}

header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    padding: 10px;
}

.menu-desktop a:hover{
    font-size: 20px;
    transition: 0.5s;
    color: rgb(212, 69, 69);
}

header >.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* topo do site */

.topo-site{
    background-color: rgb(168, 168, 168);
}

.texto-topo-site{
    text-align: center;
}


main .topo-site{
    display: flex;
    align-items: center;
    justify-content: center;
}

main section img{
    width: 200px;
    margin: 50px 4%;
    border-radius: 20px;
}
